<%= form_for @user do |f| %>
  <div id="error_explanation">
    <% if @user.errors.any? %>
      <h2>
        <% pluralize(@user.errors.count, "error") %> Not allowed to save
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg%></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :name %>
  </p>
  <p>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %>
  </p>
  <p>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %>
  </p>
  <p>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
